export RUST_LOG=trace

export PGDATA="$(pwd)/pgdata"
export PGUSER="beeps"
export DATABASE_URL="postgres://$PGUSER@localhost:5432/$PGUSER"
export JWT_SECRET=BKyspUBy52WEsKZOvRrIQk+9+dTB7tlRGeRiKOT1ys0=
